<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Soulib</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <h1>Página Principal</h1>
      <p>Sistema de gerenciamento de biblioteca.</p>
    </header>
    <main>
      <hr />
      <ul>
        <li><a href="/">Home</a></li><br>
        <li><a href="/contatos">Contato</a></li><br>
        <li><a href="/clientes">Clientes</a></li><br>
        <li><a href="/livros">Livros</a></li><br>
        <li><a href="/emprestimos">Empréstimo</a></li>
      </ul>
    </main>
    <script src="/js/main.js"></script>
  </body>
</html>
